@use "../abstracts" as *;
@use "../core" as *;
@use "../components" as *;

.unavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  @include screenSmallerThan($width: 481px) {
    padding: max(4.7vw, 15px);
  }
  &__icon-svg {
    font-size: 150px;
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
    color: rgb(190, 190, 190);
    margin-top: 3px;
    margin-bottom: 7px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  &__header {
    color: $text_clr-dark;
    font-weight: weight("light");
    margin-top: 3px;
    margin-bottom: 7px;
    max-width: 45ch;
    text-align: center;
    &-searchText {
      display: inline-block;
      font-weight: weight("semi-bold");
    }
  }
  &__description {
    font-weight: weight("regular");
    color: rgb(140, 140, 140);
    max-width: 45ch;
    text-align: center;
    margin-bottom: 21px;
  }
  &__btn {
    text-transform: uppercase;
    font-weight: weight("medium");
    color: $secondary_clr-dark;
  }
}

@include screenSmallerThan($width: 1201px) {
  .unavailable {
    &__icon-svg {
      font-size: 130px;
    }
    &__header {
      &-searchText {
      }
    }
    &__description {
      margin-bottom: 16px;
    }
    &__btn {
    }
  }
}

@include screenSmallerThan($width: 769px) {
  .unavailable {
    &__icon-svg {
      font-size: 110px;
    }
    &__header {
      &-searchText {
      }
    }
    &__description {
    }
    &__btn {
    }
  }
}

@include screenSmallerThan($width: 481px) {
  .unavailable {
    &__icon-svg {
      font-size: 90px;
    }
    &__header {
      &-searchText {
      }
    }
    &__description {
      margin-bottom: 14px;
    }
    &__btn {
    }
  }
}
