$primary_clr: #ed9b05;
$secondary_clr-dark: hsl(217, 27%, 9%);
$secondary_clr-medium: hsl(217, 27%, 19%);
$secondary_clr-light: hsl(217, 27%, 29%);

$text_clr-dark: hsl(0, 0%, 7%);
$text_clr-grey: rgb(95, 95, 95);
$text_clr-light: white;

$body-bg-clr: rgb(252, 251, 251);

$indicator_clr-green: #11b70e;
$indicator_clr-red: #b70e0e;

$box-shadow_clr: #0000001a;
